.container {
  position: relative;
  padding: 0 16px;
  width: 1280px;
  margin: 0 auto;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.active {
  color: #000000 !important;
}



.navContainer {
  display: flex;
  align-items: center;
  padding-top: 80px;
  column-gap: 20px;
  list-style: none;
  text-decoration: none;
  margin-bottom: 153px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.04em;
}
.verticalBar__container {
  height: 0;
  height: 32px;
  border: 2px solid #E0E0E0;
  margin-top: 40px;
}
.navContainer ul {
  padding: 0;
  display: flex;
  column-gap: 20px;
  padding-top: 52px;
}
.navContainer__item {
  list-style: none;
}
.navContainer__link {
  text-decoration: none;
  color:#9B9FAA;
  font-size: 14px;
}


.form {
  padding: 0 16px;
  width: 1280px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.04em;
}
.form__title {
  color: #FC842D;
  margin-bottom: 55px;
  font-size: 14px;
}
.form__container {
  margin-bottom: 60px;
}
.form__container:nth-of-type(2) {
  margin-bottom: 20px;
}
.form__section:first-of-type {
  margin-bottom: 20px;
}
.form__section:nth-of-type(2) {
  margin-bottom: 20px;
}

input:focus {
  outline: none;
}
.form__name {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  padding: 20px 0;
  display: block;
  border: none;
  border-bottom: 1px solid #E0E0E0;
}
.form__email {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  padding: 20px 0;
  display: block;
  border: none;
  border-bottom: 1px solid #E0E0E0;
}
.form__password {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  padding: 20px 0;
  display: block;
  border: none;
  border-bottom: 1px solid #E0E0E0;
}
.form__login {
  background: #FC842D;
  display: inline-block;
  padding: 13px 50px;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  margin-right: 32px;
  box-shadow: 0px 4px 10px 0px #FC842D80;
  font-size: 14px;

}
.form__createAccount {
  border: 2px solid #FC842D;
  display: inline-block;
  padding: 13px 37px;
  border-radius: 30px;
  color: #FC842D;
  text-decoration: none;
  font-size: 14px;
}

.form__img1 {
  position: absolute;
  top: 0;
  left: 800px;
}
.form__img2 {
  position: absolute;
  top: 500px;
  left: 900px;
  z-index: -5;
}
.form__img3 {
  position: absolute;
  top: 0;
  left: 330px;
  z-index: -1;
}
.form__img4 {
  position: absolute;
  top: 50px;
  left: 695px;
  z-index: -10;
}